html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    /* overflow-y: hidden; */
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
}

label {
    color: rgb(70, 18, 34);
} */

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.video {
    object-fit: cover;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    max-width: 1200px;
}

button {
    margin: 0 7px 25px 0;
}

/* CSS */
button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:before {
    content: "";
    background: linear-gradient(45deg,
            #311717,
            #473328,
            #31311d,
            #629b48,
            #252828,
            #151e45,
            #291643,
            #301230,
            #3e1b1b);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button:hover::before {
    transform: translate(-5%, -10%);
    width: 110%;
    height: 110%;
}

button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

a:hover {
    cursor: pointer;
}

.new-message-dot {
    position: absolute;
    top: 8px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.inbox-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inbox-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
}

.inbox-icon:hover {
    color: #333;
}

.inbox-message {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    max-width: 300px;
    z-index: 9999;
}

#message-box {
    overflow-y: auto;
    max-height: 200px;
}

/* Additional styles to make the inbox message visually appealing */
.inbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.inbox-message {
    max-width: 300px;
}

.message {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.user {
    font-weight: bold;
    margin-right: 5px;
}

.content {
    color: #555;
}

.input-container input {
    flex: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.input-container button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.input-container button:hover {
    background-color: #45a049;
}

.modify {
    position: absolute;
    bottom: 1%;
    z-index: 10;
    background-color: black;
    /* Set your desired background color */
    border: 1px solid white;
    transition: 1s;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modify button {
    margin: 0px 8px;
    background-color: white;
    width: 100px;
    height: 30px;
}

/* codeeditor css */

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
    color: black;
    /* Set the color of the heading text */
}

.code-mirror-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
}

.c-video {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 10px;

}

.codeeditor-container {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.button-container {
    position: absolute;
    top: 2px;
    right: 5px;
}
.button-container-1{
    position: absolute;
    top: 2px;
    right: 120px;
} 
.video-container-1 {
    margin: 0px 0px 0px 0px;
}

.output-box-container {
    position: relative;
    flex: 0;
    margin-top: 10px;
}

.output-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
    /* Add a higher z-index to make the output box appear above other elements */
}

.output-content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.close {
    font-size: 35px;
    cursor: pointer;
}

pre {
    margin: 0;
    white-space: pre-wrap;
    overflow: auto;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}